

.elementToCopy {
    > * {
        // border: 20px solid red;
        &:hover {
            // background: #EDF7E9;
            box-shadow: 0px 4px 40px 0px #000;
        }
    }
}




.demoBoxes {
    background:#bfd7d7; 
    padding: 60px;
}