
:root {
    --halton-clr-title: #1F261E;
    --halton-clr-alert-icon: #283627;

    --halton-alert-border-left-width: 73px;
    --halton-alert-icon-left-pos: -51px; // icon left position
    --halton-alert-icon-top-pos: 36px;
    --halton-alert-v-padding: 40px 20px 40px;
    --halton-alert-footer-mgr: 20px;
    --halton-alert-footer-direction: row;
    --halton-alert-footer-gap: 30px;
}






/**
 *
 * Alert box new styling
 * Note: "alert" and "alert-info" are Bootstrap classes
 * ----------
**/
@layer alert {
    
    .halton-alert {
        position: relative;
        // border-width: 0!important;
        border: 0px solid;
        border-left-width: var(--halton-alert-border-left-width)!important;
        border-radius: 0!important;
        padding: var(--halton-alert-v-padding);


        @container (max-width: 540px) {
            --halton-alert-border-left-width: 50px;
            --halton-alert-icon-top-pos: 17px;
            --halton-alert-icon-left-pos: -40px;
            --halton-alert-v-padding: 20px 15px 20px;
        } 

        .component-title {
            color: var(--halton-clr-title)!important;
        }

        .alert-footer {
            display: flex;
            flex-direction: var(--halton-alert-footer-direction);
            gap: var(--halton-alert-footer-gap);
            margin-top: var(--halton-alert-footer-mgr);

            @container (max-width: 599px) {
                --halton-alert-footer-direction: column;
                --halton-alert-footer-gap: 10px;
            } 
        }
    }



    .alert-icon::before {
        top: var(--halton-alert-icon-top-pos);
        left: var(--halton-alert-icon-left-pos);
        color: var(--halton-clr-alert-icon)!important;
    }
    .halton-alert {
        color: #383d41;
        background-color: var(--halton-clr-neutral-light);
        border-color: var(--halton-clr-neutral-lightd);
        /* Darkening alert color to ensure WCAG 2.0 Compliance */
    }
    .halton-alert-transparent-bdr {
        border-color: transparent;
    }
    .halton-alert.alert-info {
        // border: 1px solid #d3d6db;
        background-color: var(--halton-clr-alert-info-bg);
        border-color: var(--halton-clr-alert-info-bdr);
    }
    .halton-alert.alert-success {
        background-color: var(--halton-clr-alert-success-bg);
        border-color: var(--halton-clr-alert-success-bdr);
    }
    .halton-alert.alert-warning {
        background-color: var(--halton-clr-alert-warning-bg)!important;
        border-color: var(--halton-clr-alert-warning-bdr)!important;
    }
    .halton-alert.alert-secondary {
        border: 1px solid #d3d6db;
        background-color: #e2e3e5;
    }
    .halton-alert.alert-full-width ul {
        /* Reducing list spacing to ensure perfect alignment of bullets with content */
        padding-left: 17px;
    }








    /**
    *
    * Text Highlights
    * ----------
    */
    .text-highlight-success { color: #0a8526!important; }
    .text-highlight-warning { color: #986f18!important; }


    /*
    * ".alert-full-width"
    * Decorator class designed to modify alert components that occupy the entire viewport.
    * How it works: As the viewport increases, so does the alert padding.
    * Note: Custom padding must not be applied directly to ".alert"
    * ----------
    **/
    .halton-alert.alert-full-width {
        @media (min-width: 1400px) {
            padding: 70px;
        }
    }
    .halton-alert.alert-full-width {
        @media (min-width: 1200px) and (max-width: 1399px) {
            padding: 60px;
        }
    }
    .halton-alert .alert-full-width {
        @media (min-width: 992px) and (max-width: 1199px) {
            padding: 50px;
        }
    }
    .alert-full-width {
        @media (min-width: 768px) and (max-width: 991px) {
            padding: 40px;
        }
    }
    .halton-alert.alert-full-width {
        @media (min-width: 576px) and (max-width: 767px) {
            padding: 30px;
        }
    }
    .halton-alert.alert-full-width {
        @media (max-width: 575px) {
            padding: 20px;
        }
    }

}
