:root {
  --halton-link-icon-margin-x: 6px;
  --halton-link-icon-padding-x: 22px;
}

.halton-share__text.icon-share::after,
.halton-collapse .panel-heading a::after,
.link-icon::after,
.link-icon::before,
.text-icon::after,
.text-icon::before,
.list-icon-check li::before,
.alert-icon::before,
.card-icon::before {
  position: absolute;
  font-family: bootstrap-icons !important;
  display: block;
}


.icon-before {
  &.icon-arrow-right::before {
    content: "\F138";
  }
  &.icon-pin::before {
    content: "\F3E7";
  }
  &.icon-pdf::before {
    content: "\F63D";
  }
  &.icon-old-phone::before {
    content: "\F5B4";
  }
  &.icon-external::before {
    content: "\F1C5";
  }
  &.icon-link::before {
    content: "\F470";
  }
  &.icon-info::before {
    content: "\F430";
  }
  &.icon-summary::before {
    content: "\F439";
  }
  &.icon-mail::before {
    content: "\F32C";
  }
  &.icon-person::before {
    content: "\F8F6";
  }
  &.icon-graph-up-arrow::before {
    content: "\F673";
  }
  &.icon-thermometer-sun::before {
    content: "\F5D1";
  }
  &.icon-award-1::before {
    content: "\F154";
  }
  &.icon-cellphone::before {
    content: "\F4E2";
  }
  &.icon-mapping::before {
    content: "\F3E7";
  }
  &.icon-warning::before {
    content: "\F332";
  }
}


.icon-after {
  &.icon-arrow-right::after {
    content: "\F138";
  }
  &.icon-pin::after {
    content: "\F3E7";
  }
  &.icon-pdf::after {
    content: "\F63D";
  }
  &.icon-old-phone::after {
    content: "\F5B4";
  }
  &.icon-external::after {
    content: "\F1C5";
  }
  &.icon-link::after {
    content: "\F470";
  }
  &.icon-info::after {
    content: "\F430";
  }
  &.icon-summary::after {
    content: "\F439";
  }
  &.icon-mail::after {
    content: "\F32C";
  }
  &.icon-person::after {
    content: "\F8F6";
  }
  &.icon-graph-up-arrow::after {
    content: "\F673";
  }
  &.icon-thermometer-sun::after {
    content: "\F5D1";
  }
  &.icon-award-1::after {
    content: "\F154";
  }
  &.icon-cellphone::after {
    content: "\F4E2";
  }
  &.icon-mapping::after {
    content: "\F3E7";
  }
  &.icon-warning::after {
    content: "\F332";
  }
}


.list-icon-check {
  list-style: none;
  li::before {
    left: -16px;
    content: "\F633";
    color: var(--halton-clr-accent);
  }
  li {
    position: relative;
    padding-left: 13px;
  }
}


.icon-big {
  &::before,
  &::after {
    font-size: 30px;
  }
}

.icon-bigger {
  &::before,
  &::after {
    font-size: 60px;
  }
}


.text-icon, .link-icon {
  position: relative;

  &.icon-before {
    &::before {
      display: inline-block;
    }
  }
  &.icon-after {
    &::after {
      display: inline-block;
    }
  }
}


.link-icon {
  &::before,
  &::after {
    color: var(--halton-clr-link) !important;
  }

  &.icon-before {
    padding-left: var(--halton-link-icon-padding-x);
    &::before {
      margin-right: var(--halton-link-icon-margin-x);
      left: 0;
    }
  }
  &.icon-after {
    padding-right: var(--halton-link-icon-padding-x);
    &::after {
      margin-left: var(--halton-link-icon-margin-x);
    }
  }
}

