.icon-after {
    &.icon-arrow-right::after {
        content: "\F138";
    }

    &.icon-pin::after {
        content: "\F3E7";
    }

    &.icon-pdf::after {
        content: "\F63D";
    }

    &.icon-old-phone::after {
        content: "\F5B4";
    }

    &.icon-external::after {
        content: "\F1C5";
    }

    &.icon-link::after {
        content: "\F470";
    }

    &.icon-video::after {
        content: "\F21C";
    }

    &.icon-info::after {
        content: "\F430";
    }

    &.icon-summary::after {
        content: "\F439";
    }

    &.icon-mail::after {
        content: "\F32C";
    }

    &.icon-person::after {
        content: "\F8F6";
    }

    &.icon-graph-up-arrow::after {
        content: "\F673";
    }

    &.icon-thermometer-sun::after {
        content: "\F5D1";
    }

    &.icon-award-1::after {
        content: "\F154";
    }

    &.icon-cellphone::after {
        content: "\F4E2";
    }

    &.icon-mapping::after {
        content: "\F3E7";
    }

    &.icon-warning::after {
        content: "\F332";
    }
}