.icon-before {
    &.icon-arrow-right::before {
        content: "\F138";
    }

    &.icon-pin::before {
        content: "\F3E7";
    }

    &.icon-pdf::before {
        content: "\F63D";
    }

    &.icon-old-phone::before {
        content: "\F5B4";
    }

    &.icon-external::before {
        content: "\F1C5";
    }

    &.icon-link::before {
        content: "\F470";
    }

    &.icon-video::before {
        content: "\F21C";
    }

    &.icon-info::before {
        content: "\F430";
    }

    &.icon-summary::before {
        content: "\F439";
    }

    &.icon-mail::before {
        content: "\F32C";
    }

    &.icon-person::before {
        content: "\F8F6";
    }

    &.icon-graph-up-arrow::before {
        content: "\F673";
    }

    &.icon-thermometer-sun::before {
        content: "\F5D1";
    }

    &.icon-award-1::before {
        content: "\F154";
    }

    &.icon-cellphone::before {
        content: "\F4E2";
    }

    &.icon-mapping::before {
        content: "\F3E7";
    }

    &.icon-warning::before {
        content: "\F332";
    }
}