.modal {
  .modal-header {
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 1.5em !important;
  }

  .close {
    margin-left: auto !important;
  }
  .modal-footer {
    text-align: left !important;
  }
}
