
@import './../base/variables';

:root {
    --halton-clr-sidebar-alert-bg: #E9F2F7;
    --halton-clr-sidebar-alert-border: #96D1F3;
    --halton-clr-sidebar-alert-txt: #313D2F;
    --halton-sidebar-ul-margin: 25px;
    --halton-sidebar-sidealert-margin: 40px;
}

@layer sidebar {
    .page-sidebar {
        position: relative;
        padding-left: 55px!important;

        // ..
        @media (min-width: 768px) and (max-width: (1200px - 1)) {
            width: 32%!important;
            margin-left: 1%!important;
        }
        @media (max-width: (768px - 1)) {
            --halton-sidebar-ul-margin: 15px;
            --halton-sidebar-sidealert-margin: 20px;
        }

        .page-sidebar__title {
            margin-left: -40px;    
            margin-bottom: 15px!important;
        }

        ul {
            margin-bottom: var(--halton-sidebar-ul-margin)!important;
        }

        .page-sidebar__subtitle {
            margin-bottom: 5px!important;
        }
    }

    .page-sidebar {
        &.icon-summary::before {
            left: 14px;
            top: 12px;
    
            @media (max-width: (768px - 1)) {
                top: -11px;
            }
        }

        &.icon-summary {
            .page-sidebar__title {
                padding-left: 40px;
            }
        }

        &.icon-summary::before {
            color: var(--halton-clr-accent)!important;
        }
    }
    // .page-sidebar 
    // .page-sidebar 



    // .page-sidebar 

    .page-sidebar-alert {
        max-width: 400px;
        margin-top: var(--halton-sidebar-sidealert-margin);
        padding: 15px;
        color: var(--halton-clr-sidebar-alert-txt);
        background-color: var(--halton-clr-sidebar-alert-bg);
        border: 1px solid var(--halton-clr-sidebar-alert-border);

        a {
            text-decoration: none!important;
            color: var(--halton-clr-sidebar-alert-txt)!important;
            &:hover {
                text-decoration: underline!important;
                color: var(--halton-clr-link)!important;
            }
        }

        .page-sidebar-alert__title {
            margin-top: 0!important;
            color: var(--halton-clr-link)!important;
        }
        .page-sidebar-alert__title {
            position: relative;
            padding-left: 30px;

            &::before {
                content: '\F194';
                position: absolute;
                left: 0;
                top: 1px;
                font-family: bootstrap-icons !important;
                display: block;
            }
        }
    }

}

