:root {
    --halton-clr-neutral-light: #F3F3F3; // #EDEDED;
    --halton-clr-neutral-lightd: #cbcaca; // Darker
    --halton-clr-neutral-accent: #DEDEDE;
    --halton-clr-neutral-accent-text: #232F22;
    --halton-clr-background-active2: #E1EFEF;
    --halton-clr-background-active2d: #98cbcb; // Darker
    --halton-clr-link: #034EA2;
    --halton-clr-accent: #447a38;
    --site-clr-headings: #24272B;

    --halton-body-font-size: 16px;


    --halton-clr-alert-success-bg: #EDF7E9;
    --halton-clr-alert-success-bdr: #B9E3A8;
    --halton-clr-alert-warning-bg: #F7F6E9;
    --halton-clr-alert-warning-bdr: #F9F18C;
    --halton-clr-alert-info-bg: #D9ECF7;
    --halton-clr-alert-info-bdr: #96D1F3;
}